<%= form_for @student, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label "First Name:", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :fname, :class => 'text_field' %>
    </div>
  </div>
    <div class="control-group">
    <%= f.label "Preferred Name:", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :preferred_name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label "Last Name:", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :lname, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label "Student Number:", :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :student_no, :class => 'number_field' %>
    </div>
  </div>

	<%= f.hidden_field :course_id, :value => @course.id %>

  <div class="form-actions">
    <%= f.submit "Submit", :class => 'btn btn-primary' %>
    <%= link_to t('Upload File'), 
    			students_path, :class => 'btn' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                courses_path, :class => 'btn' %>
  </div>
<% end %>
