<%- model_class = Course -%>
<div class="page-header">
  <h1><%= @course.name %></h1>
</div>

<dl class="dl-horizontal">
<table class="table table-striped">
  <thead>
  <tr>
  	<th>|Points|</th>
  	<th>|Preferred|</th>
  	<th>|First|</th>
  	<th>|Last|</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
	</thead>
	<tbody>
<% @students.each do |student| %>
  <tr class="List" onmouseover="this.className='hover'" onmouseout="this.className='List'">
  	<td> <strong><%= student.points %></strong></td>
  	<td><%= link_to student.preferred_name, student %></td>
    <td><%= link_to student.fname, student %></td>
    <td><%= student.lname %></td>
    <td><%= link_to image_tag("up.png"), increase_student_path(student), :method => :put , remote: false%></td>
    <td><%= link_to image_tag("down.png"), decrease_student_path(student), :method => :put, remote: false %></td>
	<td><%= render "/pass_d_points/form", :student => student %></td>
  </tr>
<% end %>
</tbody>
</table>
</dl>

<div class="form-actions">
  <%= link_to t('.back'),
              courses_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_course_path(@course), :class => 'btn' %>
  <%= link_to t('Take Attendance'),
 			  take_attendance_course_path(@course.id), :class => 'btn' %>	
  <%= link_to t('Add Students'),
              new_student_path, :class => 'btn' %>
  <%= link_to t('Statistics'),
 			  statistic_course_path(@course.id), :class => 'btn' %>
</div>


<%= will_paginate @students %>