<%- model_class = Course -%>
<div class="page-header">
  <h1>Stats for <%= @course.name %></h1>
</div>

<dl class="dl-horizontal">
<table class="List">
  <tr>
  	<th>|Preferred|</th>
    <th>|First|</th>
    <th>|Last|</th>
    <th>|Points|</th>
    <th>|Present|</th>
    <th>|Tardy|</th>
    <th>|Absent|</th>
    <th>|Excused|</th>
  </tr>

<% @students.each do |student| %>
  <tr class="List" onmouseover="this.className='hover'" onmouseout="this.className='List'">
  	<td><%= link_to student.preferred_name, student %></td>
    <td><%= link_to student.fname, student %></td>
    <td><%= link_to student.lname, student %></td>
	<td><%= student.points %></td>
	<td><%= student.attendances.count(:conditions => { :present => true}) %></td>
	<td><%= student.attendances.count(:conditions => { :tardy => true}) %></td>
	<td><%= student.attendances.count(:conditions => { :absent => true}) %></td>
	<td><%= student.attendances.count(:conditions => { :excused => true}) %></td>
  </tr>
<% end %>
</table>
</dl>

<div class="form-actions">
  <%= link_to t('.back'),
              @course, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_course_path(@course), :class => 'btn' %>
  <%= link_to t('Add Students'),
              new_student_path, :class => 'btn' %>
  <%= link_to t('Take Attendance'),
 			  take_attendance_course_path(@course.id), :class => 'btn' %>
</div>


<%= will_paginate @students %>
