<%- model_class = Course -%>
<div class="page-header">
  <h1>Attendance for <%= @course.name %></h1>
</div>

<dl class="dl-horizontal">
<table class="List">
  <tr>
  	<th>|Preferred|</th>
  	<th>|First|</th>
  	<th>|Last|</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @students.each do |student| %>
  <tr class="List" onmouseover="this.className='hover'" onmouseout="this.className='List'">
  	<td><%= student.preferred_name %></td>
    <td><%= link_to student.fname, student %></td>
    <td><%= student.lname %></td>
	<%= render '/attendances/form', :f => student,:course_id => @course.id, :student_id => student.id %>
  </tr>
<% end %>
</table>
</dl>

<div class="form-actions">
  <%= link_to t('.back'),
              courses_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_course_path(@course), :class => 'btn' %>
  <%= link_to t('Take Attendance'),
 			  take_attendance_course_path(@course.id), :class => 'btn' %>	
  <%= link_to t('Add Students'),
              new_student_path, :class => 'btn' %>
  <%= link_to t('Statistics'),
 			  statistic_course_path(@course.id), :class => 'btn' %>
</div>


<%= will_paginate @students %>