<%= form_for @attendance, :html => { :class => 'form-horizontal' } do |f| %>
<td>
    	  <div class="field">
    		<%= f.label "P" %>
    		<%= f.check_box :present %>
  		  </div>
  	</td>
    <td>
    	  <div class="field">
    		<%= f.label "A" %>
    		<%= f.check_box :absent %>
  		  </div>
  	</td>
  	<td>
    	  <div class="field">
    		<%= f.label "T" %>
    		<%= f.check_box :tardy %>
  		  </div>
  	</td>
  	<td>
    	  <div class="field">
    		<%= f.label "E" %>
    		<%= f.check_box :excused %>
  		  </div>
  	</td>
  	<%= f.hidden_field :course_id, :value => @course.id %>
	<%= f.hidden_field :student_id, :value => student_id %>
	<%= f.hidden_field :Date, :value => Time.now %>

  <td>
    <%= f.submit nil, :class => 'btn btn-primary' %>
  </td>
<% end %>
