<%- model_class = Attendance -%>
<div class="page-header">
  <h1>All Attendances for <%= @course.name %></h1>
</div>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Date</th><th></th>
    <th>Pref</th>
    <th>First</th>
    <th>Last</th>
    <th>P</th>
    <th>A</th>
    <th>T</th>
    <th>E</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
    <% @attendances.each do |attendance| %>
      <tr>
    <td><%= attendance.Date %></td><td></td>
    <td><%= attendance.student.preferred_name %></td>
    <td><%= attendance.student.fname %></td>
    <td><%= attendance.student.lname %></td>
    <td><%= attendance.attendance_to_asterisk(attendance.present) %></td>
    <td><%= attendance.attendance_to_asterisk(attendance.absent) %></td>
    <td><%= attendance.attendance_to_asterisk(attendance.tardy) %></td>
    <td><%= attendance.attendance_to_asterisk(attendance.excused) %></td><td></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_attendance_path(attendance.id), :class => 'btn btn-mini' %>
          <%= link_to 'Delete', attendance, method: :delete, data: { confirm: 'Are you sure?' },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<p><%= will_paginate @attendances %></p>
<div class="form-actions">
  <%= link_to t('.back'),
              take_attendance_course_path(@course.id), :class => 'btn'  %>
</div>
