<%= form_for @pass_d_point, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="field">
    <%= f.hidden_field :course_id, :value => session[:course_id] %>
  </div>
  <div class="field">
    <%= f.hidden_field :student_id, :value => student.id %>
  </div>
  <td>
  	<%= f.select :designated_point_id, options_from_collection_for_select(@course.designated_points, 'id', 'name') %>
  </td>
  <td></td>
  <td>
    <%= f.submit "Add Points", :class => 'btn btn-primary' %>
  </td>
  <td></td>
<% end %>
