<%- model_class = PassDPoint -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:course_id) %>:</strong></dt>
  <dd><%= @pass_d_point.course_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:student_id) %>:</strong></dt>
  <dd><%= @pass_d_point.student_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:descr) %>:</strong></dt>
  <dd><%= @pass_d_point.descr %></dd>
  <dt><strong><%= model_class.human_attribute_name(:designated_point_id) %>:</strong></dt>
  <dd><%= @pass_d_point.designated_point_id %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              pass_d_points_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_pass_d_point_path(@pass_d_point), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              pass_d_point_path(@pass_d_point),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
